<div class='backgroundIMG' style="background-image:url('images/kase_photo/img_18.847cf9a5.jpg')" skrollr-tag">
    <div class="container inflator" du-parallax y="text">
        <div class="col-md-12 text-center">
            <h1 class="">Introducing Kase</h1>
            <p>Multifunctions Case</p>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="col-xs-4">
                <div class="roundShape">
                    <img src="/images/mockup-02.2c4d29b9.png" />
                </div>
                <p class="text-center">Outter Shield</p>
            </div>
            <div class="col-xs-4">
                <div class="roundShape">
                    <img src="/images/mockup-01.86cadc1c.png" />
                </div>
                <p class="text-center">Screen Protector</p>
            </div>
            <div class="col-xs-4">
                <div class="roundShape">
                    <img src="/images/mockup-03.b0551d33.png" />
                </div>
                <p class="text-center">Stand</p>
            </div>
        </div>
    </div>
</div>
